/*////////////////////////////////////Start of global Styling/////////////////////////////////////////////////////////*/

@import url('https://fonts.googleapis.com/css?family=Calligraffitti|Open+Sans');
:root {
    --brightYellow: #dac82d;
    --darkBrown: #bb9457;
    --yellow: #f2b450;
    --brown: #382923;
    --black: #191919;
    --grey: #a9b2ac;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background: linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)), url(../img/bricks-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: var(--black);
}

.bell-fonts {
    font-family: 'Calligraffitti', cursive;
}

/* Seting padding for every section of about part */

.section-padding {
    padding: 3rem 0;
}

/* Grid container for about part */

.grid-container {
    max-width: 90vw;
    margin: 2rem auto;
    display: grid;
    grid-row-gap: 2rem;
}

/* Section of about part styling */

.section-title {
    padding: 1rem 0.5rem;
}

.section-title-left {
    margin-left: 10rem;
}

.section-title__name {
    font-size: 3rem;
    text-transform: capitalize;
}

.section-title_underline {
    background: var(--yellow);
    width: 6rem;
    height: 0.45rem;
}

.section-title__text {
    letter-spacing: 0.1rem;
    line-height: 1.5;
    margin-top: 1rem;
    color: rgb(66, 66, 66);
}

/*////////////////////////////////////End of global Styling/////////////////////////////////////////////////////////*/

/* Preloader styling */

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--brown);
    z-index: 999;
    display: grid;
    justify-content: center;
    align-items: center;
}

/* Header styling: */

.header {
    height: 100vh;
    display: grid;
    grid-template-columns: 80%;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* banner styling: */

.banner {
    text-align: center;
    z-index: 3;
}

.banner__title {
    font-size: 4rem;
    text-transform: capitalize;
    color: var(--brightYellow);
}

/* Social icons styling */

.banner__social-icon {
    display: block;
    text-decoration: none;
    color: var(--black);
    border: 0.1rem solid var(--black);
    border-radius: 50%;
    padding: 0.25rem;
    transition: all 0.65s linear;
    /* transition = how log thoes it need hover effect to take place on all soc link */
}

.banner__social-icon:hover {
    background: var(--brightYellow);
    color: var(--black);
}

.banner__icons {
    width: 50%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 2rem);
    /* repeat(how many columns, size of each column) */
    grid-column-gap: 0.5rem;
    justify-content: center;
}

/* Video styling */

.video__container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.video__item {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* video covers the whole header */
}

/* Nav button styling */

.navBtn {
    position: fixed;
    top: 5%;
    right: 5%;
    font-size: 3.5rem;
    color: var(--yellow);
    cursor: pointer;
    animation-name: pulse;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

/* Button animation */

@keyframes pulse {
    0% {
        transform: scale(1)
    }
    50% {
        transform: scale(1.5)
    }
    100% {
        transform: scale(1)
    }
}

/* Navbar styling */

.nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background: rgba(242, 180, 80, 0.9);
    z-index: 3;
}

.nav__links {
    list-style-type: none;
}

.nav__single-link {
    display: block;
    text-decoration: none;
    text-transform: capitalize;
    color: var(--brown);
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    transition: all 0.6s ease-in-out;
}

.logo__img {
    height: 110px;
    width: 110px;
}

.nav__single-link:hover {
    background: var(--brown);
    color: rgba(242, 180, 80, 0.9);
    padding-left: 1.5rem;
}

.nav__logo:hover {
    background: rgb(242, 180, 80);
}

/* Targeting again nav to make hide-show effect when menu btn is clicked */

.nav {
    width: 0;
    overflow: hidden;
    transition: all 0.6s linear;
}

.nav--show {
    width: 11rem;
}

/* Video ON/OFF button for smaller screens is not visable*/

.video__switch-container {
    display: none;
}

/* About us section */

.about-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr;
    grid-gap: 2rem;
}

/* Image styling */

.about-img-item {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 0.5rem;
}

/* Free drinks section styling */

/* Input fields */

.drink {
    background: var(--brown);
    color: var(--brightYellow);
    text-transform: capitalize;
}

.drink-form,
.drink-card {
    text-align: center;
    display: grid;
    grid-template-columns: 70%;
    justify-content: center;
    grid-gap: 1.25rem;
}

.drink-form__feedback {
    border: 0.1rem solid var(--brightYellow);
    padding: 0.25rem;
    display: none;
}

.error {
    display: block;
    color: red;
    border-color: red;
}

.success {
    display: block;
    color: green;
    border-color: green;
}

.drink-form__title,
.drink-card__title {
    font-size: 3rem;
}

.input-name,
.input-lastname,
.input-email,
.submitBtn {
    width: 100%;
    font-size: 1rem;
    border-radius: 0.5rem;
    padding: 0.25rem 0.5rem;
    background: rgba(111, 87, 77, 0.6);
    color: var(--darkBrown);
    border: none;
    outline: none;
}

.input-name::placeholder,
.input-lastname::placeholder,
.input-email::placeholder {
    color: var(--darkBrown);
    text-transform: capitalize;
}

.submitBtn {
    background: var(--yellow);
    color: var(--black);
    transition: all 0.8 linear;
    cursor: pointer;
    text-transform: uppercase;
}

.submitBtn:hover {
    opacity: 0.7;
}

/* Free drinks list */

.person {
    display: grid;
    grid-template-columns: auto;
    align-items: center;
}

.winnersList {
    display: grid;
    grid-template-columns: auto;
    grid-row-gap: 2rem;
    align-items: center;
}

.winnersList>li {
    list-style: none;
    font-size: 1.5rem;
    border: 0.1rem solid rgba(111, 87, 77, 0.6);
    border-radius: 0.5rem;
}

/* Our work section */

.work-container {
    max-width: 90%;
    margin: 2rem auto;
}

.work-item__img {
    width: 100%;
    height: 100%;
    display: block;
    transition: all 1s linear;
}

.work-item {
    background: linear-gradient(var(--yellow), var(--yellow));
    overflow: hidden;
    /* When image is zoomed it doesn't expend over inserted borders */
    position: relative;
}

.work-item:hover .work-item__img {
    opacity: 0.5;
    transform: scale(1.2);
    /* On hover it zooms the image */
}

/* Styling of search icon, positioning, transform and scale effects */

.work-item__icon {
    position: absolute;
    color: var(--brightYellow);
    top: 50%;
    left: 50%;
    display: inline-block;
    font-size: 4rem;
    text-decoration: none;
    transition: all 0.5 ease;
    transform: scale(0);
}

.work-item:hover .work-item__icon {
    transform: scale(1.3) translate(-50%, -50%);
    /* On hover zoom in icon size and place it on center */
}

.work-item__icon:hover {
    color: var(--brown);
    cursor: pointer;
}

/* Zooming Work image on click */

.work-model {
    display: none;
}

.work-model-show {
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 999;
    display: grid;
    justify-content: center;
    align-items: center;
}

.work-model__item {
    background: url('../img/work-1.jpg')center/cover;
    height: 70vh;
    width: 80vw;
    border: 0.5rem solid var(--yellow);
    border-radius: 0.4rem;
}

.work-model__close {
    position: fixed;
    font-size: 3rem;
    color: var(--brightYellow);
    bottom: 5%;
    right: 5%;
    transition: color 0.7s linear;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}

.work-model__close:hover {
    color: red;
}

/* Contact section */

.contact-container {
    max-width: 90vw;
    margin: 0 auto;
    display: grid;
    grid-row-gap: 1rem;
}

.contact-info {
    display: grid;
    justify-content: center;
}

.contact-item {
    margin: 1rem 0;
    padding: 0.5rem;
}

.contact-item__icon {
    font-size: 3rem;
    color: var(--yellow);
}

.contact-item__title {
    text-transform: uppercase;
    margin: 0.5rem 0;
    letter-spacing: 0.25rem;
    font-style: italic;
}

.contact-item__text {
    font-size: 1rem;
    text-transform: uppercase;
    color: var(--grey);
}

/* Media Queryes */

/* header for smaller screen: */

@media screen and (max-width: 768px) {
    .header {
        background: url('../img/header-img.jpg') center/cover fixed no-repeat;
    }
    .banner__social-icon {
        color: var(--brightYellow);
        border: 0.1rem solid var(--brightYellow);
    }
}

/* Styling for screens in this range */

@media screen and (min-width: 576px) {
    .work-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
    }
}

@media screen and (min-width: 768px) {
    .banner__title {
        font-size: 7rem;
    }
    /* Video ON/OFF button for larger screens styling*/
    .video__switch-container {
        display: block;
        position: absolute;
        bottom: 5%;
        right: 5%;
        z-index: 3;
    }
    .video__switch {
        position: relative;
        width: 5rem;
        background: var(--yellow);
        text-transform: uppercase;
        display: flex;
        justify-content: space-between;
        padding: 0.25rem;
        cursor: pointer;
        border-radius: 0.5rem;
    }
    .video__switch-btn {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 50%;
        background: var(--brown);
        border-radius: 0.5rem;
        transition: all 0.4s ease-out;
    }
    .btnSlide {
        left: 50%;
    }
    /* Styling grid container for about section */
    .grid-container--medium-2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 4rem;
    }
    .grid-container {
        max-width: 75vw;
    }
    /* Styling about container - text and images */
    .about__img-special {
        order: -1;
        /* changes the order of elements in this case image and text */
    }
    .about-container {
        grid-template-rows: 1fr 1fr;
    }
    /* For this screen sorts names into 2 columns */
    .winnersList {
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
    }
    /* Layout for images in section Our Work */
    .work-container {
        height: 120vh;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas: "one one two three" "one one four four" "five six seven seven" "eight nine seven seven"
    }
    .item-1 {
        grid-area: one;
    }
    .item-2 {
        grid-area: two;
    }
    .item-3 {
        grid-area: three;
    }
    .item-4 {
        grid-area: four;
    }
    .item-5 {
        grid-area: five;
    }
    .item-6 {
        grid-area: six;
    }
    .item-7 {
        grid-area: seven;
    }
    .item-8 {
        grid-area: eight;
    }
    .item-9 {
        grid-area: nine;
    }
    /* Zoomed image after clicking on it from work section */
    .work-model__item {
        height: 80vh;
        width: 60vw;
    }
    /* Contact section styling */
    .contact-info {
        grid-template-columns: repeat(3, 1fr);
        order: -1;
        /* Reversing order of rows */
    }
}

@media screen and (min-width: 992px) {
    .contact-info {
        grid-template-columns: 1fr;
        order: 0;
        /* Geting back order of rows */
    }
    .contact-container {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-column-gap: 2rem;
    }
    .contact-map {
        align-self: center;
    }
}